$yellow100: rgb(255,209,0);
$yellow75: rgb(255,221,64);
$yellow50: rgb(255,232,128);
$yellow25: rgb(255,243,191);

$gray100: rgb(136,139,141);
$gray75: rgb(166,168,170);
$gray50: rgb(195,197,198);
$gray25: rgb(225,226,227);

$green100: rgb(120,190,32);
$green75: rgb(154,206,88);
$green50: rgb(188,223,144);
$green25: rgb(221,239,199);

$blue100: rgb(0,159,223);
$blue75: rgb(4,183,231);
$blue50: rgb(128,207,239);
$blue25: rgb(191,231,247);

$red: rgb(178,0,47);
$orange: rgb(255,148,8);
$gray: rgb(100,100,100);
$lightGray: rgb(189,189,189);